.rd-container {
    display: none;
    border: 1px solid #e5e5e5;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 6px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
  }
  .rd-container-attachment {
    position: absolute;
  }

.rd-day-disabled{
    color: grey !important;
}
.rd-day-prev-month{
    /* color: grey; */
    visibility: hidden;
}
.rd-day-next-month{
    /* color:grey; */
    visibility: hidden;
}

.rd-back,
.rd-next {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}
.rd-back[disabled],
.rd-next[disabled] {
  cursor: default;
}
.rd-back {
  float: left;
}
.rd-next {
  float: right;
}
.rd-back:before {
  display: block;
  content: '\2190';
}
.rd-next:before {
  display: block;
  content: '\2192';
}

.rd-day-body:hover{
    background-color: #e5f1ff;
    cursor: pointer;
}

.rd-day-body, .rd-day-head{
    border: 1px solid #e5e5e5;
}

.rd-days{
    border-collapse: collapse;
    border-spacing: 0;
}

.rd-day-selected, .rd-time-option:hover {
    cursor: pointer;
    background: #e5f1ff;
}

table tr td:last-child {
    color: #79a0cd;
}

table tr td:first-child {
    color: #ef9e9e;
}

tr th{
    font-weight: bold;
    font-family: Helvetica,Arial,sans-serif;
}